<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="head(title)">
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
            integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
            crossorigin="anonymous"
        />
        <link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet" />

        <title th:text="${title}">Mozzi의 게시판</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="menu(menu)">
            <a class="navbar-brand" href="#">Mozzi's Board</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <!-- classappend속성을 이용해서 게시판일때는 게시판에 불이 들어오고 home일때는 home에 불이 들어오게 설정해줌 -->
                    <!-- 앞에 있는 조건문이 true일때만 뒤에 있는 클래스가 추가가 되는 것 -->
                    <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
                        <!-- a태그 이용해서 이동할 곳 링크 연결해주기 -->
                        <a class="nav-link" href="#" th:href="@{/}"
                            >HOME
                            <span class="sr-only" th:if="${menu} == 'home'">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" th:classappend="${menu} == 'board'? 'active'">
                        <a class="nav-link" href="#" th:href="@{/board/list}"
                            >BOARD
                            <span class="sr-only" th:if="${menu} == 'board'">(current)</span>
                        </a>
                    </li>
                </ul>
                <!-- 로그인/로그아웃 에 따라 분기처리 해주기, 특정 권한이 있는 사용자한테는 표시해주는 방식으로,, -->
                <!-- mr-2 오른쪽 마진 -->
                <!-- sec:authorize="isAuthenticated()" : 로그인 처리가 되었는지 안되었는지 -->
                <a class="btn btn-secondary my-2 mr-2 my-sm-0" th:href="@{/account/login}" sec:authorize="!isAuthenticated()">로그인</a>
                <!-- 로그인 되지 않은 사용자만 로그인 버튼 볼 수 있다 -->
                <a class="btn btn-secondary my-2 my-sm-0" th:href="@{/account/register}" sec:authorize="!isAuthenticated()">회원가입</a>
                <!-- 로그인된 사용자만 form을 볼 수 있다 -->
                <form c lass="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
                    <span class="text-white" sec:authentication="name">사용자</span>
                    <span class="text-white mx-2" sec:authentication="principal.authorities">권한</span>
                    <!-- mx-2 좌우 마진을 2로 준다 -->
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
                </form>
            </div>
        </nav>
    </body>
</html>
